.full-screen-image {
    width: 100vw;
    height: 90vh;

    /* The image used */
    background-image: url("../../assets/images/cover.jpg");
    /*background-color: #1b1e21;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}